

{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header max-w-prose">
    <h2 class="mt-0  font-extrabold text-neutral-900 dark:text-neutral">{{.Title}}</h2><br/>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
<section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
  
<!-- right col-->



  <div class="post-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>

  </section>
</main>
{{ end }}